.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
   justify-content: center ;
   padding: 3%;
}

.paginacion{

    display: flex;
    grid-template-columns:auto;
    gap: 1px;
    padding: 60px;
    justify-content: center ;

}