.container{
    display: grid;
    height: auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 15px;
   justify-content: center ;
   padding: 2%;
    width: 100%;
}

.paginacion{

    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 2%;

}