.container{
    display: grid;
    height: auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 0px;
    justify-content: center;
    padding: 5%;
    width: 90%;
    
    
    
  
}

.paginacion{
    display: flex;
    gap: 5px;
    justify-content: center;
    padding: 0%;
}